<h2><b>Escrow is a social betting game.</b></h2>
<div>
	<p>
		Here's how to get started. First, click on "Make a bet", in the upper right of the screen. Fill out the fields
		however you like, and click<b> make bet</b>.

		<img class="instructions1" src="http://jeffmeyerson.com/wp-content/uploads/2014/05/welcome.jpg">

		At this point, you want to start betting on the side you think will win. Since that is a picture of lemurs,
		you decide to click <b>yes</b> four times, which leads to $12 in the <b>Total bets</b>.

		You wait awhile, then come back to your bet.

		<img class="instructions2" src="http://jeffmeyerson.com/wp-content/uploads/2014/05/lemurs4.jpg">

		There is now $54 in the total bets. Someone else has been betting! <i>Clearly those are lemurs</i>,
		you think to yourself. <i>I must be on the correct side of this bet</i>. You wait for time to expire, then click
		<b>Leaderboard</b> in the top menu, to see how you are doing.
	<hr>
	<img class="instructions3" src="http://jeffmeyerson.com/wp-content/uploads/2014/05/leaderboard.jpg">
	<hr>
	What happened? As it turns out, the other $42 in the <b>Total bets</b> were for <b>No</b>. It doesn't matter that it
	was a picture of lemurs, and you were betting on what you thought was "correct". <b>In Escrow, whichever side bets
	more wins.</b>
	</p>

</div>