

<div>

	
	<p>Whichever side bets more wins.</p>
	<p class="text-center"><img class="avatar" src="/assets/avatar.jpg"></p>
	<p class="text-center">Will</p>
	<h2 class="text-center">$666.66</h2>
   
</div>